@model IEnumerable<HealthCareApp.Models.AppointmentViewModel>

@{
    ViewData["Title"] = "Appointments";
}

<div class="container mt-5">
    <h1>Appointments</h1>

    
      @if (Roles.UserRole == "Patient")
        {  <p>
              <a asp-action="Create" class="btn btn-primary">Schedule New Appointment</a>
          </p>
         }
    <table class="table table-striped">
        <thead>
            <tr>
               
                <th>Doctor's Username</th>
                <th>Patient's Username</th>
                <th>Date and Time</th>
               @if (Roles.UserRole == "Patient")
                  {
                     <th>Actions</th>
                  }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @if (Roles.UserName == item.PatientUserName || Roles.UserName == item.DoctorUserName)
                {
                    <tr>

                        <td>@Html.DisplayFor(modelItem => item.DoctorUserName)</td>
                        <td>@Html.DisplayFor(modelItem => item.PatientUserName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Date)</td>
                        <td>
                            <div class="btn-group" role="group">
                                @if (Roles.UserRole == "Patient")
                                {
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                                }
                            </div>
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>
</div>
