@model IEnumerable<HealthCareApp.Models.PostViewModel>

@{
    ViewData["Title"] = "Posts";
}

<div class="container mt-5">
    <h1>Posts</h1>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-6 mb-4">
                <div class="card">
                    <img src="@item.PhotoUrl" alt="Post Photo" class="card-img-top" style="max-height: 300px; object-fit: cover;">
                    <div class="card-body row">

                        <div class="card-title col-5">@Html.DisplayFor(modelItem => item.DoctorUserName)</div>
                       <div class="card-text col-6">@Html.DisplayFor(modelItem => item.DatePublished)</div><br /><br />
                        <div class="card-text col-11">@Html.DisplayFor(modelItem => item.Description)</div>
                    </div>
                    <div class="card-footer">
                        <div class="btn-group" role="group">
                            @if (Roles.UserRole == "Doctor")
                            {
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
