@model HealthCareApp.Models.AdminViewModel

@{
    ViewData["Title"] = "Profile";
}

<div class="container mt-5">
    <div class="card">
        <img src="@Html.DisplayFor(model => model.PhotoUrl)" alt="@Html.DisplayNameFor(model => model.Photo)" class="card-img-top img-fluid w-100" style="height: 300px; object-fit: cover;" />

        <div class="card-body">
            <h1 class="display-4 text-center">Your Profile</h1>
            <hr />
            <dl class="row">
                
                <dt class="col-sm-3">Username</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.UserName)</dd>

                
                <dt class="col-sm-3">Address</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Address)</dd>

                <dt class="col-sm-3">Date of Birth</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.DateOfBirth)</dd>

                <dt class="col-sm-3">Email</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Email)</dd>

                <dt class="col-sm-3">Gender</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Gender)</dd>

                <dt class="col-sm-3">Phone</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Phone)</dd>

                
            </dl>
        </div>
        <div class="card-footer text-right">
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary mr-2" }) 
            @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger" }) 
        </div>
    </div>
</div>
